@model web.ViewsModels.BlogConfig
@{
    ViewBag.Title = "BlogConfig";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    @using (Html.BeginForm("config", "blog_blog", FormMethod.Post))
    {
        <table>
            <tr>
                <td>博客名称：</td>
                <td>
                    @Html.TextBoxFor(m => m.Name)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Name)
                </td>
            </tr>
            <tr>
                <td>博客签名：</td>
                <td>
                    @Html.TextBoxFor(m => m.Sign)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Sign)
                </td>
            </tr>
            <tr>
                <td>博客公告：</td>
                <td>
                    @Html.TextAreaFor(m => m.Notic)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Notic)
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="确定" /></td>
            </tr>
        </table>
    }
</body>
</html>