@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/onlineSell/Views/_LayoutPage1.cshtml";

    var dbContext = CustomHtmlHelper.GetDbContext();
    var listBlog = dbContext.Blogs.ToList();
    var listCatalog = dbContext.Catalogs.ToList();
}
@*@if(Request["catalogid"])!=""){
    
}*@

@for (int i = 0; i < listBlog.Count; i++){
    if (@Convert.ToInt32(Request["catalogid"]) == 0 || @listBlog[i].catalogId == @Convert.ToInt32(Request["catalogid"]))
    {
    var n = 0;
    for (int j = 0; j < listCatalog.Count; j++)
    {
        if (@listBlog[i].catalogId == @listCatalog[j].Id)
        {
            n = j;
        }
    }
        
    <div class="day">

        <div class="dayTitle">
            <a id="homepage1_HomePageDays_DaysList_ctl00_ImageLink" href="/onlineSell/Home/Blog/@listBlog[i].Id">@listBlog[i].AddTime.ToString()</a>
        </div>


        <div class="postTitle">
            <a id="homepage1_HomePageDays_DaysList_ctl00_DayList_TitleUrl_0" class="postTitle2" href="/onlineSell/Home/Blog/@listBlog[i].Id">@listBlog[i].Title</a>
        </div>
        <div class="postCon">
            <div class="c_b_p_desc " id="content" style="height:30px">
                @listBlog[i].Content
            </div>
            @*<script>
                var content = document.getElementsByClassName('c_b_p_desc');

                var content = oldContent.replace(/<\/?.+?>/g, "");
                alert('111');
            </script>*@
        </div>
        <div class="clear"></div>
        <div class="postDesc">posted @@ @listBlog[i].AddTime.ToString() ycy  @*阅读(1) 评论(0)*@  <a id="blog_nav_myhome" class="menu" href="/onlineSell/Home?catalogid=@listCatalog[n].Id">分类: @listCatalog[n].Name</a>  </div>
        <div class="clear"></div>

    </div>
}

    }

<div class="topicListFooter"><div id="nav_next_page"><a href="#">下一页</a></div></div>
